/* color variables */
/* border radius */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Mukta, sans-serif;
    height: 100vh;
    display: grid;
    align-items: center;
    color: #4f546c;
    font-size: 0.9rem;
    background-color: #f9fbff;
}
table {
    border-radius: 10px;
    margin: auto;
    border-collapse: collapse;
    box-shadow: 0 5px 10px #e1e5ee;
    background-color: white;
    text-align: left;
    overflow: hidden;
}
table thead {
    box-shadow: 0 5px 10px #e1e5ee;
}
table th {
    padding: 2rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
}
table td {
    cursor: pointer;
    padding: 1rem 2rem;
}
table a {
    text-decoration: none;
    color: #2962ff;
}
table .status {
    border-radius: 10px;
    cursor: pointer;
    border-radius: 0.2rem;
    background-color: red;
    padding: 0.2rem 1rem;
    text-align: center;
}
table .status-edit {
    background-color: #fff0c2;
    color: #a68b00;
}
table .status-other {
    background-color: #262626df;
    color: #ffffff;
}
table .status-paid {
    background-color: #c8e6c9;
    color: #388e3c;
}
table .status-unpaid {
    background-color: #ffcdd2;
    color: #c62828;
}
table .amount {
    text-align: right;
}
table tr:nth-child(even) {
    background-color: #f4f6fb;
}

.table_column{
    display: flex;
    flex-direction: column;
}

.status_pending{
    font-weight: bold;
    color: rgb(174, 174, 101);
}
.status_progress{
    font-weight: bold;
    color: red;
}
.status_closed{
    font-weight: bold;
    color: green;
}
.gap{
    padding-top: 70px;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    display: flex;
    height: 100px;
}
.gap_{
    height: 40px;
}
.table_row{

    display: flex;
    flex-direction: row;
}

  
  .wrapper {
    
    margin: 0;
    overflow: hidden;
    background: #ffffff;
    font-family: Courier, monospace;
    font-size: 14px;
    color:rgb(255, 255, 255); 
    display: block;
    margin: 5em auto;
    border: 1px solid rgb(255, 255, 255);
    width: 700px;
    height: 350px;
    position: relative;
  }
  p{text-align:center;}
  .label {
    height: 1em;
    padding: .3em;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    display: none;
    color:rgb(0, 0, 0);
    
  }
  .butt{
    margin-bottom: 30px;
    justify-content:space-evenly;
    display: flex;
    flex-direction: row;
  }





  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 100ms ease-in;
    -moz-transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    max-width: 800px;
    width: 90%;
    position: relative;
    margin: 10% auto;
    padding: 20px;
    border-radius: 3px;
    background: #fff;
}
.close {
    font-family: Arial, Helvetica, sans-serif;
    background: #f26d7d;
    color: #fff;
    line-height: 25px;
    position: absolute;
    right: 320px;
    text-align: center;
    top: 150px;
    width: 34px;
    height: 34px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    padding-top: 5px;
}
.close:hover {
    background: #fa3f6f;
}
